body{
    font-family: Arial;
    margin: 0;
    line-height: 2.2em;
    background-color: #ebfff0;
}

#header{
    background-image: url("images/header-bg.jpg");
    height: 262px;
    -o-background-size: contain;
    background-repeat:repeat ;
}
#logo{
    margin-left: 180px;
    padding-top: 50px ;
    display: inline-block;
    float: left;
    width: 20%;
}
#logo img{
    margin-left: 80px;
    margin-top: 20px;
}
#banner{
    padding: 5px 0;
    display: inline-block;
    width: 40%;
}
#banner img{
    height: 200px;
    width: 90%;


}
#search{
    width: 20%;
    display: inline-block;
    float: right;
    margin-right: 200px;
    margin-top: 90px;
}
#search input{
    padding: 10px 5px;
    width: 75%;
    font-size: large;

}
#search button{
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: large;

}
#header-link{
    clear: both;
    background-color: black;
    height: 50px;
    width: 1670px;
    margin-left: 180px;
    border-radius:  10px 10px 0 0;
    margin-top: -10px;
}
#header-link ul,#header-link li{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
    padding-right: 40px;
    padding-top: 5px;
    display: inline-block;

}
#header-link li{
    list-style-type: none;
    display: block;
    float: left;
    font-size: large ;
}
#header-link li:first-child{
    margin-left: 50px;
}
#header-link ul li a{
    text-decoration: none;
    color: white;

}
#header-link ul li a:hover{
    color: red;
}
#header-link-right{
    display: inline-block;
    float: right;
    color: white;
    padding-top: 10px;
    padding-right: 50px;
}
#header-link-right span{
    padding-left: 20px;
    font-size: 25px;
    color: chartreuse;
}
.story{
    margin-right: 10px;
    width: 537px;
    height: 400px;
    border: 1px solid #d8d8d8;
    display: inline-block;
}
.story-left{

    display: inline-block;
    float: left;
    font-size: 1.3em;
    padding-left: 1em;
    padding-top: 1em;
    width: 45%;
}
.story-right{
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    float: right;
    width: 45%;
    padding-right: 10px;
}
.story-right img{
    width: 100%;
    padding-right: 10px;
    height: 380px;

}
.title{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 15px;
}
.view{

}
.view button{
    margin-top: 10px;
    margin-left: 10px;
    font-size: large;
    padding: 10px 20px;
}
#content{
    margin: 5px 180px;
}
.top{
    margin-top: 20px;
}
.left{
    margin-left: 4px;
}
.category{
    font-size: 3em;
    color: orange;

}
.page-transition{
    font-size: 2em;
    margin-left: 415px;
    margin-top: 20px;
}
.page-transition span{
    margin-left: 5px;
}
#content2{
clear: both;
}
#content2-left{
    width: 68%;
    display: inline-block;
}
#content2-right{

    width: 30%;
    display: inline-block;
    float: right;
    height: auto;

    margin-top: 96px;

}
.content2-right-content{
    font-size: 1.5em;
    border: 1px solid #CDCDCD;
}
.category-good{
    font-size: 1.6em;
    color: white;
    background-color: #90ff07;
    padding: 20px 20px;
    text-align: center;

}
.left-big{
    margin-left: 15px;
}
.content2-right-content li{
    margin-left: 35px;

    /*padding-left: 30px;*/
}
#content2-right hr{
    margin-top: 72px;
}
#content3-right{
    display: inline-block;
    float: right;
}
#content3-left{
    display: inline-block;
    float: left;
    margin-top: 96px;
}
#footer{
    color: white;
    clear: both;
    height: 170px;
    background-image: url("images/header-bg.jpg");
    background-repeat: repeat;
}
#footer-left{
    width: 30%;
    margin-left: 180px;
    font-size: 1.3em;
    padding-top: 20px;
    text-align: justify;
    display: inline-block;
    float: left;
}
#footer-right{
    display: inline-block;
    float: right;
    padding-right: 185px;
    padding-top: 40px;
}